{% extends 'shared/_MainLayout.html' %}

{% block body %}

	<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>ورود به حساب کاربـری :</h2>
						<form method="POST">
                            {% csrf_token %}
                            <label for="{{ loginform.username.id_for_label }}">{{ loginform.username.label }}</label>
                            {{ loginform.username }}
                            {% for error in loginform.username.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            <label for="{{ loginform.password.id_for_label }}">{{ loginform.password.label }}</label>
                            {{ loginform.password }}
                            {% for error in loginform.password.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
							<span>
								<a href="forget-password.html">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
							<button type="submit" class="btn btn-default">ورود</button>
						</form>
					</div><!--/login form-->
				</div>
			</div>
		</section>
	</div>
	<!--/form-->

{% endblock %}